<header class="navbar navbar-fixed-top navbar-inverse" ng-controller="HeaderController as vm" ng-if="isHeaderActive">
    <div class="container" >
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/#!/" class="navbar-brand">
                <img src="/modules/core/img/brand/tmdb_header.png" class="header-logo">
            </a>
        </div>
        <nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/#!/home" ng-class="{active: vm.activePath === 'home'}">
                        <i class="icon-36 home"></i>
                        <span class="icon-text-right">Home</span>
                    </a>
                </li>
                <!--<li>
                    <a href="/#!/history" ng-class="{active: vm.activePath === 'history'}">
                        <i class="icon-36 history"></i>
                        <span class="icon-text-right">History</span>
                    </a>
                </li>-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="javascript:void(0)" ng-click="vm.doLogout()">
                       <i class="icon-signout"></i>
                       <span class="icon-text-right text-capitalize">{{vm.user.name}}</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>