/** nav icon */
/**Image path*/
/*Font colors*/
/*Border*/
/**$fonts*/
/*Light Green Group*/
/****  Pixels to em functions *****/
/* line 1, ../../../sass/_common.scss */
a.primary {
  font-size: 1.25em;
  font-family: inherit;
  font-weight: normal;
  color: #1f8eba;
  line-height: 1.5em;
}

/* line 4, ../../../sass/_common.scss */
.border-0 {
  border-width: 0 !important;
  box-shadow: none;
}

/* line 11, ../../../sass/_common.scss */
table thead tr {
  background: #e4e4e4;
}
/* line 16, ../../../sass/_common.scss */
table tr.even {
  background: #f1f1f1;
}
/* line 19, ../../../sass/_common.scss */
table tr.odd {
  background: #fff;
}

/* line 25, ../../../sass/_common.scss */
.header-logo {
  height: 70px;
  position: relative;
  top: -10px;
}

/*  Font and text classes*/
/* line 2, ../../../sass/base/_typography.scss */
.text-primary {
  color: #1f8eba !important;
}

/*  Margin class */
/* line 7, ../../../sass/base/_typography.scss */
.m-l-10 {
  margin-left: 0.625em !important;
}

/* line 10, ../../../sass/base/_typography.scss */
.m-t-50 {
  margin-top: 3.125em !important;
}

/*  Padding class */
/* line 16, ../../../sass/base/_typography.scss */
.p-l-0 {
  padding-left: 0 !important;
}

/* line 19, ../../../sass/base/_typography.scss */
.p-r-0 {
  padding-right: 0 !important;
}

/* line 23, ../../../sass/base/_typography.scss */
input[type='text'], input[type='password'], input[type='email'], input[type='number'] {
  box-shadow: none;
}
/* line 25, ../../../sass/base/_typography.scss */
input[type='text']:focus, input[type='password']:focus, input[type='email']:focus, input[type='number']:focus {
  outine: 0;
  box-shadow: none;
  border-color: #ccc;
}

/* line 1, ../../../sass/components/_modal.scss */
.modal-header {
  background: #01d277;
  color: #081c24;
  padding: 10px;
}

/* line 6, ../../../sass/components/_modal.scss */
.modal-body {
  overflow: hidden;
}

/*Create icons*/
/* line 3, ../../../sass/components/_icons.scss */
.icon-36 {
  width: 2.25em;
  height: 2.25em;
  display: inline-block;
  background-position: 0 0;
  background-repeat: no-repeat;
}

/* line 8, ../../../sass/components/_icons.scss */
.icon-text-right {
  /*text-shadow: 0px -2px 0px rgba(255, 255, 255, 0.5);*/
  padding-left: 0.625em;
  display: inline-block;
  /*width: 100px;*/
  vertical-align: baseline;
  line-height: normal;
}

/* line 17, ../../../sass/components/_icons.scss */
.icon-signout {
  width: 2.25em;
  height: 2.25em;
  display: inline-block;
  background-image: url("/modules/core/img/brand/quit.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}
/* line 22, ../../../sass/components/_icons.scss */
.icon-signout:hover {
  background-position: 0 -34px;
}

/* line 1, ../../../sass/components/_buttons.scss */
.btn {
  position: relative;
  border-radius: 0;
}
/* line 4, ../../../sass/components/_buttons.scss */
.btn.btn-primary {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  background: #01d277;
  color: #081c24;
  border: 1px solid #FFF;
}
/* line 11, ../../../sass/components/_buttons.scss */
.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  background: #01d277;
  border: 1px solid #186d8e;
  color: #FFF;
  outline: 0;
}
/* line 19, ../../../sass/components/_buttons.scss */
.btn .loader {
  background-image: url("/modules/core/img/loaders/loader-rect.gif");
  background-repeat: no-repeat;
  background-position: center right;
  width: 16px;
  height: 16px;
  display: inline-block;
  float: right;
}

/* line 1, ../../../sass/layout/_container.scss */
body {
  font-size: 1.2em;
  height: 100%;
  background-color: #f4f4f4;
}

/* line 6, ../../../sass/layout/_container.scss */
.content {
  height: 100%;
  position: relative;
}
/* line 9, ../../../sass/layout/_container.scss */
.content .container {
  margin-top: 5em;
  padding-top: 3.125em;
}

/* line 18, ../../../sass/layout/_container.scss */
header.navbar-inverse {
  background-image: none;
  background: #081c24;
  color: #fff;
}
/* line 23, ../../../sass/layout/_container.scss */
header.navbar-inverse .navbar-nav > .open > a,
header.navbar-inverse .navbar-nav > .open > a:hover,
header.navbar-inverse .navbar-nav > .open > a:focus {
  color: #fff;
}
/* line 29, ../../../sass/layout/_container.scss */
header.navbar-inverse .navbar-brand {
  padding: 15px 15px;
  height: 4em;
}
/* line 32, ../../../sass/layout/_container.scss */
header.navbar-inverse .navbar-brand:focus {
  outline: 0;
}
/* line 36, ../../../sass/layout/_container.scss */
header.navbar-inverse .navbar-nav > li {
  font-size: 1.25em;
  font-family: inherit;
  text-transform: uppercase;
  font-style: sans-serif;
}
/* line 39, ../../../sass/layout/_container.scss */
header.navbar-inverse .navbar-nav > li a, header.navbar-inverse .navbar-nav > li a:focus {
  color: #fff;
  display: inline-table;
  line-height: 2em;
  padding: 15px 10px;
}
/* line 46, ../../../sass/layout/_container.scss */
header.navbar-inverse .navbar-nav > li a .glyphicon, header.navbar-inverse .navbar-nav > li a:focus .glyphicon {
  font-size: 28px;
}
/* line 50, ../../../sass/layout/_container.scss */
header.navbar-inverse .navbar-nav > li a .icon-36.home, header.navbar-inverse .navbar-nav > li a:focus .icon-36.home {
  background-position: 0 0;
}
/* line 53, ../../../sass/layout/_container.scss */
header.navbar-inverse .navbar-nav > li a .icon-36.history, header.navbar-inverse .navbar-nav > li a:focus .icon-36.history {
  background-position: -34px 0;
}
/* line 56, ../../../sass/layout/_container.scss */
header.navbar-inverse .navbar-nav > li a .icon-36.video, header.navbar-inverse .navbar-nav > li a:focus .icon-36.video {
  background-position: -68px 0;
}
/* line 61, ../../../sass/layout/_container.scss */
header.navbar-inverse .navbar-nav > li a:hover, header.navbar-inverse .navbar-nav > li a.active, header.navbar-inverse .navbar-nav > li a:focus:hover, header.navbar-inverse .navbar-nav > li a:focus.active {
  color:#FFE782;
  outline: 0;
}

header.navbar-inverse .navbar-nav > li a:hover, header.navbar-inverse .navbar-nav > li a:focus:hover {
  color: #01d277;
  outline: 0;
}

/* line 65, ../../../sass/layout/_container.scss */
header.navbar-inverse .navbar-nav > li a:hover .icon-36.home, header.navbar-inverse .navbar-nav > li a.active .icon-36.home, header.navbar-inverse .navbar-nav > li a:focus:hover .icon-36.home, header.navbar-inverse .navbar-nav > li a:focus.active .icon-36.home {
  background-position: 0 -34px;
}
/* line 68, ../../../sass/layout/_container.scss */
header.navbar-inverse .navbar-nav > li a:hover .icon-36.history, header.navbar-inverse .navbar-nav > li a.active .icon-36.history, header.navbar-inverse .navbar-nav > li a:focus:hover .icon-36.history, header.navbar-inverse .navbar-nav > li a:focus.active .icon-36.history {
  background-position: -34px -34px;
}
/* line 71, ../../../sass/layout/_container.scss */
header.navbar-inverse .navbar-nav > li a:hover .icon-36.video, header.navbar-inverse .navbar-nav > li a.active .icon-36.video, header.navbar-inverse .navbar-nav > li a:focus:hover .icon-36.video, header.navbar-inverse .navbar-nav > li a:focus.active .icon-36.video {
  background-position: -68px -34px;
}
/* line 74, ../../../sass/layout/_container.scss */
header.navbar-inverse .navbar-nav > li a:hover .icon-36.signout, header.navbar-inverse .navbar-nav > li a.active .icon-36.signout, header.navbar-inverse .navbar-nav > li a:focus:hover .icon-36.signout, header.navbar-inverse .navbar-nav > li a:focus.active .icon-36.signout {
  background-image: "/modules/core/img/brand/quit.png";
  background-position: 0 0;
}
/* line 85, ../../../sass/layout/_container.scss */
header.navbar-inverse .navbar-nav.navbar-right a {
  border-left: 1px solid #DDD;
}

/* line 1, ../../../sass/page/_login.scss */
.login-panel {
  -moz-box-shadow: 0 1px 10px 1px #DDD;
  -webkit-box-shadow: 0 1px 10px 1px #DDD;
  box-shadow: 0 1px 10px 1px #DDD;
  border: 1px solid #01d277;
  margin-top: 4.6875em;
  padding: 6.25em;
  padding-top: 20px;
  background: #081c24;
}
/* line 8, ../../../sass/page/_login.scss */
.login-panel .login-container {
  border: 1px solid #01d277;
  float: left;
  min-height: 150px;
  background: #f6f6f6;
  padding: 20px 25px;
  padding-bottom: 1.875em;
}
/* line 16, ../../../sass/page/_login.scss */
.login-panel .login-container form {
  margin-top: 2.5em;
}
/* line 19, ../../../sass/page/_login.scss */
.login-panel .login-container .form-group {
  margin-bottom: 0;
}
/* line 21, ../../../sass/page/_login.scss */
.login-panel .login-container .form-group .input-group-addon {
  padding: 6px;
  color: #01D475;
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
/* line 28, ../../../sass/page/_login.scss */
.login-panel .login-container .form-group .form-control {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom: 0;
}
/* line 34, ../../../sass/page/_login.scss */
.login-panel .login-container .form-group:nth-child(2) .input-group-addon {
  border-bottom: 1px solid #ccc;
}
/* line 37, ../../../sass/page/_login.scss */
.login-panel .login-container .form-group:nth-child(2) .form-control {
  border-bottom: 1px solid #ccc;
}
/* line 44, ../../../sass/page/_login.scss */
.login-panel .login-container .login-btn button {
  width: 100%;
}
/* line 47, ../../../sass/page/_login.scss */
.login-panel .login-container .login-btn .link {
  margin-top: 10px;
  display: block;
  font-size: 1.25em;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: #1f8eba;
  line-height: 1.25em;
}
/* line 53, ../../../sass/page/_login.scss */
.login-panel .login-container .error-block {
  height: 3.125em;
  padding-top: 7px;
  visibility: hidden;
}
/* line 57, ../../../sass/page/_login.scss */
.login-panel .login-container .error-block.active {
  visibility: visible;
}
/* line 60, ../../../sass/page/_login.scss */
.login-panel .login-container .error-block p {
  margin-bottom: 5px;
}

@media (max-width: 420px) {
  /* line 67, ../../../sass/page/_login.scss */
  .login-panel {
    padding: 1.25em;
    margin-top: 1.25em;
  }
  /* line 70, ../../../sass/page/_login.scss */
  .login-panel .login-container {
    padding: 15px;
  }
  /* line 72, ../../../sass/page/_login.scss */
  .login-panel .login-container .form-group {
    margin-bottom: 0;
  }
}
/* line 1, ../../../sass/core/_desktop.scss */
.core-file-drop {
  height: 9.375em;
  border: 2px dashed #DDD;
  width: 100%;
  line-height: 3.75em;
  text-align: center;
}
/* line 7, ../../../sass/core/_desktop.scss */
.core-file-drop span {
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
  font-size: 1.25em;
}

/* line 1, ../../../sass/navigation/_desktop.scss */
.navigation-left {
  border-right: 1px solid #DDD;
}

/* Search Box style starts */

div.searchBar input[type=text] {
  width: 60%;
  box-sizing: border-box;
  border: 2px solid #01d277;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('/modules/core/img/brand/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
div.searchBar input[type=text]:focus {
  width: 100%;
}
/* Search Box style ends */

div.resultPane div.resultImage{
  display: block;
  margin-left: auto;
  margin-right: auto
}

div.resultPane div.resultImage img{
  margin: auto;
  display: block;
  width:60%
}

div.resultPane div.resultMediaType{
  text-align: center;
  overflow: hidden;
}

div.resultPane div.resultMediaType label.media_type {
  box-sizing: border-box;
  display:inline-block;
  border-radius: 5px;
  padding: 6px 10px;
  font-size: 0.9em;
  line-height: 0.7em;
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid #fff;
  text-align: center;
  margin-top: 10px ;
}

div.resultPane div.resultMediaType label.media_type.tv {
  border-color: #2DD4F7;
  background-color: rgba(45, 212, 247, 0.1);
  color: #2FD4F5;
}

div.resultPane div.resultMediaType label.media_type.movie {
  border-color: #00D573;
  background-color: rgba(0, 213, 115, 0.1);
  color: #00D573;
}

div.resultPane div.resultMediaType label.media_type.person {
  border-color: #F62D5D;
  background-color: rgba(246, 45, 93, 0.1);
  color: #F62D5D;
}

/*Detail Style starts*/

.data-detail img.data-detail-lg{
  z-index: 0;
  width: 100%;
  margin-bottom: 10px;
}

.data-detail-image
{
  margin: -90px 10px 0px 50px;
  z-index: 9;
  width: 20%;
}

@media (max-width:768px)
{

  .data-detail-text>h1{
    font-weight: 700;
    font-size:16px;
  }

  .data-detail-image
  {
    margin: -45px 10px 0px 25px;
    z-index: 9;
    width: 20%;
  }
}

/*Detail Style ends*/
