body{
  font-size:1.2em;
  height:100%;
}

.content{
  height:100%;
  position:relative;
  .container{
    margin-top: em(80);
    padding-top: em(50);

  }
}


header{
  &.navbar-inverse{
    background-image:none;
    border-color: darken($header-color, 10%);
    background: $header-color;
    color: #000;
    .navbar-nav > .open > a,
    .navbar-nav > .open > a:hover,
    .navbar-nav > .open > a:focus {
      background: $header-color;
      color: #000;
    }
    .navbar-brand{
      padding: 15px 15px;
      height: em($nav-height);
      &:focus{
        outline:0
      }
    }
    .navbar-nav > li {
      padding-left: em(50);
      padding-right: em(50);
      a, a:focus{
        color: #000;
        display: inline-block;
        line-height: em(32);
        padding: 15px 10px;
        @include fonts( 20, inherit, bold, normal, $inactive-color);

        .glyphicon{
          font-size: 28px;
        }
        .icon-36{
          &.home{
            background-position: 0 0;
          }
          &.history{
            background-position: -34px 0;
          }
        }

        &:hover, &.active{
          color: darken($inactive-color, 20%);
          outline:0;
          .icon-36{
            &.home{
              background-position: 0 -34px;
            }
            &.history{
              background-position: -34px -34px;
            }
            &.signout{
              background-image: $imgPath + '/brand/quit.png';
              background-position: 0 0;
            }
          }
        }

      }

    }

    .navbar-nav.navbar-right a{
      border-left: 1px solid $border-color-1;
    }
  }
}