a.primary{
  @include fonts(20, inherit, normal, 24, $primary-color-1);
}
.border-0{
  border-width:0!important;
  box-shadow:none;
}

table{
  thead{
    tr{
      background: darken($header-color, 5%);
    }
  }
  tr{
    &.even{
      background: $header-color;
    }
    &.odd{
      background: #fff;
    }
  }
}

.header-logo{
  height:65px;
  position: relative;
  top:-10px;
}