<div class="modal-content" ng-init="vm.initDetailModal()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.close()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{vm.data.title}}</h4>
    </div>
    <div class="modal-body">
        <div class="data-detail">
            <img align="left" class="data-detail-lg" src="{{vm.data.backdrop_url}}" alt="Profile image example"/>
            <img align="left" class="data-detail-image thumbnail" src="{{vm.data.small_image_url}}" alt="Profile image example"/>
            <div class="data-detail-text" ng-switch="vm.data.media_type">
                <div ng-switch-when="movie">
                    <div class="title">
                        <h3>{{vm.data.title}}</h3>
                    </div>
                    <b>OVERVIEW:</b>
                    <p> {{vm.data.overview}}</p>
                </div>
                <div ng-switch-when="tv">
                    <div class="title">
                        <<h3>{{vm.data.name}}</h3>
                    </div>
                    <b>OVERVIEW:</b>
                    <p> {{vm.data.overview}}</p>
                </div>
                <div ng-switch-when="person">
                    <div class="title">
                        <h3>{{vm.data.name}}</h3>
                    </div>
                    <b>POPULARITY:</b>
                    <label> {{vm.data.popularity}}</label>
                </div>
            </div>
        </div>
    </div>
</div>

