<section class="homeSection" data-ng-controller="HomeController as vm" ng-init="vm.init()">
    <div class="col-sm-12 col-md-12 col-xs-12 core-right-panel searchBar">
        <input type="text" name="search" placeholder="Search for Actors, Movies, Directors ... " ng-model="searchText">
    </div>
    <div class="col-sm-12 col-md-12 col-xs-12 core-right-panel">
       <h5> Showing results for <b>{{vm.searchText}}</b></h5>
    </div>

    <section class="col-sm-12 container" ng-if="vm.searchResult.results.length > 0">
        <div ng-repeat="result in vm.searchResult.results track by $index">
            <div class="panel col-sm-12 resultPane" ng-click="vm.showDetails(result)">
                <div class="col-sm-2 resultImage">
                    <img src="{{vm.getImagePath(result); result.small_image_url}}" class="img-thumbnail" ng-click="vm.showImage(result); $event.stopPropagation();" />
                </div>
                <div class="col-sm-8 resultDescription">
                     <h4> {{result.name || result.title}}</h4>
                </div>
                <div class="col-sm-2 resultMediaType">
                    <label class="media_type" ng-class="result.media_type">{{result.media_type}}</label>
                </div>

            </div>
        </div>
    </section>

</section>