<div class="modal-content" ng-init="vm.loadImage()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.close()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{vm.imageTitle}}</h4>
    </div>
    <div class="modal-body">
        <img src="{{vm.imageUrl}}" style="width:100%"/>
    </div>
</div>

