/*Create icons*/

.icon-36{
  $nav-sprite: $imgPath + '/brand/nav.png';
  $position : 0 0;
  @include icons(em($nav-icon-size), $nav-sprite, $position, 100%);
}
.icon-text-right{
  @include text-shadow(0px -2px 0px rgba(255, 255, 255, .5));
  padding-left: em(10);
  display: inline-block;
  width: 100px;
  vertical-align: baseline;
  line-height: normal;

}
.icon-signout{
  $nav-sprite: $imgPath + '/brand/quit.png';
  $position : 0 0;
  @include icons(em($nav-icon-size), $nav-sprite, $position, 100%);
  background-position: 0 0;
  &:hover{
    background-position: 0 -34px;
  }
}